<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Admin -->
    <bean id="adminController" class="controller.AdminController">
       <constructor-arg ref="adminService">
       </constructor-arg>
    </bean>

    <bean id="adminService" class="service.admin.AdminService" >
        <constructor-arg ref="workspaceDao">
        </constructor-arg>
    </bean>

    <bean id="workspaceDao" class="dao.workspace.WorkSpaceDAOImpl">
    </bean>

    <!-- Customer -->
    <bean id="customerController" class="controller.CustomerController">
        <constructor-arg ref="customerService">
        </constructor-arg>
    </bean>

    <bean id="customerService" class="service.customer.CustomerService">
        <constructor-arg ref="reservationDao">
        </constructor-arg>
    </bean>
    <bean id="reservationDao" class="dao.reservations.ReservationsDAOImpl">
    </bean>
</beans>